.russia-map > * {
    fill: #6845a9;
    stroke: white;
    stroke-width: 0.5px;
    transition: .25s;
    height: 500px;
}

.russia-map > *:hover {
    fill: #47d244;
    transition: .25s;
}

.russia-map-wrapper {
    position: absolute;
    transform: translate(11%, -18.5%) scale(0.6);
    background: white;
    border-radius: 15px;
    padding: 50px;

}

.selected {
    fill: #47d244;
}

#root {
    background: #eeeeee
}