.map-wrapper {
    width: 50%;
    overflow: hidden;
}

.authMap > * {
    stroke: white;
    stroke-width: 0.5px;
    fill: #6845a9;
    transition: .5s;
}

.authMap > *:hover {
    fill: #47d244;
    transition: .5s;
}

[title="Омская область"],
[title="Нижегородская область"],
[title="Москва"],
[title="Санкт-Петербург"],
[title="Самарская область"]  {
    fill: #47d244;
}
